<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Inberrekuek</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Iteko lanak</ion-card-title>
    </ion-card-header>
  </ion-card>

  <!-- Mostrar mensaje si no hay tareas -->
  <ion-card *ngIf="tareas.length === 0">
    <ion-card-content *ngIf="!cargando">
      <p class="ion-text-center">Eztao lanik iteko. Ya me sorprende baño bueno</p>
    </ion-card-content>
    <ion-card-content *ngIf="cargando">
      <p class="ion-text-center">
        Kargatzen
        <ion-spinner name="crescent"></ion-spinner>
      </p>
    </ion-card-content>
  </ion-card>

  <!-- Lista de tareas -->
  <ion-list>
    <ion-item *ngFor="let tarea of tareas">

      <ion-label style="max-width: 80%;">
        <h2>{{ tarea.description }}</h2>
        <p><strong>Noizko inber:</strong> {{ tarea.limitDate | date: 'dd/MM/yyyy HH:mm' }}</p>
        <p *ngIf="getUserNameById(tarea.userId) === 'Iño ez'" style="color: red; font-style: italic;">
          Iño ez
        </p>
        <p *ngIf="getUserNameById(tarea.userId) !== 'Iño ez'"><strong>Zeñek inber:</strong> {{getUserNameById(tarea.userId)}}</p> 
      </ion-label>
      <ion-label style="max-width: 20%;" class="ion-text-end">
        <ion-button fill="clear" size="small" (click)="editTarea(tarea)">
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
