<ion-content class="ion-padding">
  <div class="home-container">
    <div class="header-section">
      <h1>Family Tasks</h1>
      <p class="subtitle">Etxeko lanak banatzeko</p>
    </div>

    <div class="menu-container">
      <div class="menu-card" (click)="goToTasksPage()">
        <div class="icon-circle">
          <ion-icon name="list-outline"></ion-icon>
        </div>
        <h2>Lanak ikusi</h2>
        <p>Iteko eta indako lan danan listie</p>
      </div>

      <div class="menu-card" (click)="goToAddTaskPage()">
        <div class="icon-circle">
          <ion-icon name="add-circle-outline"></ion-icon>
        </div>
        <h2>Lan bat gehitu</h2>
        <p>Iteko daon lan bat gehitzeko</p>
      </div>

      <div class="menu-card" (click)="goToPenalizationsPage()">
        <div class="icon-circle">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </div>
        <h2>Penalizaziyuek</h2>
        <p>Oihanen maniyen araberako penalizaziyuek</p>
      </div>

      <div class="menu-card" (click)="goToRanking()">
        <div class="icon-circle">
          <ion-icon name="trophy-outline"></ion-icon>
        </div>
        <h2>Rankiñe</h2>
        <p>Hilabeteko klasifikaziyue</p>
      </div>
    </div>
  </div>
</ion-content>