<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Family Tasks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-container">
    <ion-card class="welcome-card">
      <ion-img src="assets/aa.jpg" alt="Family tasks"></ion-img> 
    </ion-card>

    <div class="button-group">
      <ion-button expand="block" color="secondary" (click)="goToTasksPage()">
        <ion-icon name="list-outline" slot="start"></ion-icon>
        Lanak ikusi
      </ion-button>

      <ion-button expand="block" color="success" (click)="goToAddTaskPage()">
        <ion-icon name="add-circle-outline" slot="start"></ion-icon>
        Lan bat gehitu
      </ion-button>

      <ion-button expand="block" color="success" (click)="goToRanking()">
        <ion-icon name="add-circle-outline" slot="start"></ion-icon>
        Rankiñe
      </ion-button>
    </div>
  </div>
</ion-content>
