<ion-content class="ion-padding">
  <div class="login-container">
    <div class="login-box">
      <h1>HOME TASK</h1>
      <p class="subtitle">Sartu erabiltzailie ta kontraseñie</p>
      
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <ion-item lines="none">
            <ion-select formControlName="username" 
                      interface="popover" 
                      placeholder="Selecciona un usuario"
                      class="custom-select">
              <ion-select-option *ngFor="let user of users" [value]="user">
                {{ user }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </div>

        <div class="form-group">
          <ion-item lines="none">
            <ion-input type="password" 
                     formControlName="password" 
                     placeholder="Contraseña"
                     class="custom-input">
            </ion-input>
          </ion-item>
        </div>

        <ion-button expand="block" 
          type="submit" 
          class="login-button" 
          shape="round" 
          [disabled]="iniciando">
        <ng-container *ngIf="!iniciando; else loading">
        Sartu
        </ng-container>
        <ng-template #loading>
        Sartzen <ion-spinner name="crescent" style="margin-left: 8px;"></ion-spinner>
        </ng-template>
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>