ion-header {
    --background: #3880ff; /* Color azul para el header */
    --color: white; /* Texto en blanco */
  }
  
  ion-card {
    --background: #f4f5f8; /* Fondo gris claro */
    margin: 20px;
  }
  
  ion-card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
  }
  
  .input-field {
    margin-bottom: 15px;
  }
  
  .submit-button {
    margin-top: 20px;
    font-size: 1.1rem;
    --border-radius: 12px; /* Bordes redondeados */
    --background: #3dc2ff; /* Color azul más claro */
    --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  
  .submit-button ion-icon {
    font-size: 1.2rem;
  }
  
  ion-note {
    margin-left: 15px;
    font-size: 0.9rem;
  }
  